.App {
  font-family: sans-serif;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 40px;
  overflow: scroll;

  .image-frame {
    flex: 0 0 calc(33% - 20px);
    margin: 5px 10px;
    img {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 100%;
    }
  }
}

#pop-up {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 10;
  .picked-card {
    height: 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    width: 90%;
    .card-front, .card-back {
      backface-visibility: hidden;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      img {
        border-radius: 10px;
        width: 100%;
      }
    }
    .card-back {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
    &.flipped {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
}

.credit {
  background-color: #fff;
  bottom: 00px;
  left: 50%;
  padding: 10px 0 20px;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
}

.poker-enter {
  opacity: 0.01;
  transform: scale(1.2);
}

.poker-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.poker-exit {
  opacity: 1;
  transform: scale(1);
}

.poker-exit-active {
  opacity: 0.01;
  transform: scale(1.2);
  transition: all 300ms;
}
