body {
  background: #e4efef;
  overflow: hidden;
}

.App {
  font-family: sans-serif;
  height: calc(100vh - 70px);
  padding: 10px 0px 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.credit {
  background-color: transparent;
  bottom: 0px;
  left: 50%;
  padding: 10px 0;
  position: absolute;
  transform: translateX(-50%);
  @media (max-width: 991px) {
    background: #e4efef;
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 992px) {
  body {
    background-color: #63c8c4;
  }
  .App {
    background: #e4efef;
    border-radius: 10px;
    height: 80vh;
    left: 50%;
    max-width: 400px;
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.card-deck {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  padding-bottom: 40px;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .image-frame {
    flex: 0 0 calc(33% - 20px);
    margin: 5px 10px;
    img {
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 100%;
    }
  }
}

#pop-up {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  .picked-card {
    height: 90%;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    width: 90%;
    .card-front, .card-back {
      backface-visibility: hidden;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      img {
        border-radius: 10px;
        width: 100%;
      }
    }
    .card-back {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
    &.flipped {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }
}


.poker-enter {
  opacity: 0.01;
  transform: scale(1.2);
}

.poker-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.poker-exit {
  opacity: 1;
  transform: scale(1);
}

.poker-exit-active {
  opacity: 0.01;
  transform: scale(1.2);
  transition: all 300ms;
}
