.App {
  font-family: sans-serif;
  text-align: center;
  height: calc(100vh - 50px);
  width: 100%;
}

.card-deck {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.card-deck > * {
  flex: 0 0 calc(33% - 20px);
  margin: 10px auto;
}

.credit {
  bottom: 110px;
  position: fixed;
  transform: rotateZ(-90deg);
  right: -80px;
}

svg {
  border-radius: 10px;
  max-width: 300px;
  transform: rotateZ(15deg);
}
